.footer-container {
    position:relative;
    height: 13vh;
    width: 70%;
    background-color: rgb(134, 12, 182);
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 10px;
    margin-left: 15%;
    padding: 0px 10px;
    color: white;
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.info>p {
    font-size: 1.6rem;
    color: white;
}
.mail {
    font-size: 1.6rem;
    color: white;
}
@media screen and (max-width: 800px) {
    .footer-container {
        position: relative;
        height: 20vh;
        top: 105%;
        right: 140px;
        width: 90%;
        background-color: white;
        margin-bottom: 60px;
        border-radius: 10px;
        margin-left: 15%;
        color: rgb(134, 12, 182);
    }
    .info {
        display: flex;
        justify-content: space-between;
        color: rgb(154, 154, 154);
    }

    .info>p {
        font-size: 5rem;
        font-weight: bold;
        color: rgb(154, 154, 154);
    }

    .mail {
        font-size: 3rem;
        font-weight: bold;
        color: rgb(154, 154, 154);
    }
}