.nav-list {
    margin-top: 0;
    display: flex;
    justify-content: center;
    padding-top: 7px;
    margin-right: 2em;
}
.nav-list > a {
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: 2px solid rgb(134, 12, 182);
    z-index: 20;
}
@media screen and (max-width: 800px) {
    .nav-list {
        margin-top: 0;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        margin-right: 5em;
    }
    .nav-list>a {
        list-style: none;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 3rem;
        border-bottom: 2px solid rgb(134, 12, 182);
        z-index: 20;
    }
}